<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.aipay.dao.ZuserMapper">
	<!-- 新增数据 -->
	<insert id="addZuser" parameterType="Zuser">
		insert into zuser
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="null != zid and '' != zid">zid,</if>
			<if test="null != zfile and '' != zfile">zfile</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="null != zid and '' != zid">#{zid},</if>
			<if test="null != zfile and '' != zfile">#{zfile}</if>
		</trim>
	</insert>
	
	<select parameterType="String" resultType="Zuser" id="findById">
		select * from zuser where zid = #{zid}
	</select>
	
</mapper>
